* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 0 15px;
}
input {
  padding: 0.5rem 1rem;
}
input,
label,
select {
  display: block;
  width: 100%;
  margin: 0.3rem 0;
  font-size: 1rem;
}
.gender p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.gender {
  margin: 2rem 0;

  input,
  label {
    width: 50%;
    float: left;
    text-align: left;
  }
}

#drop-down {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}
